# Python specific ignores (common ignores)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/
venv/
env/
.venv/
.tox/

# Project specific ignore
*.csv
*log.txt
*aperture.txt

# Streamlit specific ignores
.streamlit/secrets.toml
streamlit-storage/
work-tmp/

# IDE/OS specific ignores
.idea/
.vscode/